:root {
  --color-bg: #ffffff;
  --color-bg-primary: #FAFAFA;
  --color-text: #222222;
  --color-primary: #7F56D9;
  --color-primary-accent: #6941C6;
  --color-secondary: #3b82f6;
  --color-border: #e5e7eb;
  --color-border-primary: #D5D7DA;
  --color-border-primary-seconds: #9E77ED;
  --color-muted: #f3f4f6;

  --header-height: 64px;
  --sidebar-width: 280px;
}

.dark {
  --color-bg: #1e1e1e;
  --color-text: #f1f1f1;
  --color-primary: #818cf8;
  --color-secondary: #60a5fa;
  --color-border: #374151;
  --color-muted: #1f2937;
}
